<div class="container">
  <h1><strong>Create your restaurant</strong></h1>
  <%= simple_form_for(@restaurant) do |f|  %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
    <div class="btn-group">
      <%= f.button :submit %>
      <%= link_to "Back", restaurants_path, class:"btn btn-default" %>
    </div>

  <% end %>
</div>
